# Rust build artifacts
/target/
Cargo.lock

# Distribution & packaging
dist/
*.zip

# Portable runtime data & temporary profiles
data/
user_data/
profile/
portable.ini
portable.lock
*.log

# Windows build artifacts & binaries
*.pdb
*.obj
*.exe
*.dll
*.res
*.lib

# IDE, OS & editor files
.idea/
.vscode/
*.swp
*.bak
*~
Thumbs.db
Desktop.ini
.DS_Store

# Node / JS tooling artifacts
node_modules/
package-lock.json
